/* ***************************************************** */
/* ***** STYLE CSS CONCERNANT LA MODALE DE CONTACT ***** */
/* ***************************************************** */

/** * conteneur principal ( avec fond d'ombre sur l'écran * **/
.modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 30;
    background-color: #000000d4;
    animation: fadeIn 0.5s ease-in-out;
}

.hidden {
    display: none;
}

.reverse-animate {
    animation: fadeInRemove 0.5s ease-in-out forwards;
}

/* La modal */
.the-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 597px;
    height: 770px;
    background-color: white;
    border: 5px solid black;
    overflow: hidden;
} 

/* conteneur et image du haut de la modal */
.modal-title {
    padding-top: 10px;
    width: 886px;
    height: 106px;
}

.modal-title img {
    width: 886px;
}

/** * Tout ce qui concerne le formulaire * **/
/* Conteneur du formulaire */
.modal-info {
    margin-top: 46px;
    height: 563px;
    width: 263px;
}

/* field */ /* init = formulaire valide / invalid = ce comprend dans son terme je pense haha / sent = après l'envoie du formulaire */
.wpcf7-form.init p,
.wpcf7-form.invalid p,
.wpcf7-form.sent p {
    margin-bottom: 23px;
}

.wpcf7-form.init label,
.wpcf7-form.invalid label,
.wpcf7-form.sent label {
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.wpcf7-form.init label span,
.wpcf7-form.invalid label span,
.wpcf7-form.sent label span {
    display: flex;
    flex-direction: column;
}

.wpcf7-form.init label span input[type='text'],
.wpcf7-form.init label span input[type='email'],
.wpcf7-form.invalid label span input[type='text'],
.wpcf7-form.invalid label span input[type='email'],
.wpcf7-form.sent label span input[type='text'],
.wpcf7-form.sent label span input[type='email'] {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid var(--color-form-gray);
    padding-left: 8px;
}

.wpcf7-form.init label span textarea {
    width: 100%;
    height: 210px;
    border-radius: 8px;
    border: 1px solid var(--color-form-gray);
    padding-left: 8px;
    padding-top: 10px;
}

.wpcf7-form.invalid label span textarea,
.wpcf7-form.sent label span textarea {
    width: 100%;
    height: 140px;
    border-radius: 8px;
    border: 1px solid var(--color-form-gray); 
    padding-left: 8px;
    padding-top: 10px;
}

/* Bouton */
.wpcf7-form.init input[type='submit'],
.wpcf7-form.invalid input[type='submit'],
.wpcf7-form.sent input[type='submit'] {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 2px;
    background-color: var(--color-gray);
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 500;
    color: var(--color-black);
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.wpcf7-form.init input[type='submit']:hover,
.wpcf7-form.invalid input[type='submit']:hover,
.wpcf7-form.sent input[type='submit']:hover {
    background-color: var(--color-black);
    color: var(--color-white);
    transition: 0.4s ease-in-out;
}

/* Info d'envoie quand le formulaire est invalide ou a été envoyer */
.wpcf7 form .wpcf7-response-output {
    margin: 0;
    padding: 0;
    margin-top: -30px;
    width: 100%;
    text-align: center;
}

/* **************************************** */
/* ***** MODALE DE CONTACT SUR MOBILE ***** */
/* **************************************** */

@media(max-width: 768px) {
    /* La modal */
    .the-modal {
        width: 286px;
        height: 583px;
    } 

    /* conteneur et image du haut de la modal */
    .modal-title {
        width: 459px;
        height: 55px;
    }

    .modal-title img {
        width: 459px;
    }

    /** * Tout ce qui concerne le formulaire * **/
    /* Conteneur du formulaire */
    .modal-info {
        margin-top: 14px;
        height: 472px;
        width: 190px;
    }

    /* field */ /* init = formulaire valide / invalid = ce comprend dans son terme je pense haha / sent = après l'envoie du formulaire */
    .wpcf7-form.init p,
    .wpcf7-form.invalid p,
    .wpcf7-form.sent p {
        margin-bottom: 14px;
    }

    .wpcf7-form.init label span textarea {
        width: 100%;
        height: 149px;
        border-radius: 8px;
        border: 1px solid var(--color-form-gray);
    }
    
    .wpcf7-form.invalid label span textarea,
    .wpcf7-form.sent label span textarea {
        width: 100%;
        height: 80px;
        border-radius: 8px;
        border: 1px solid var(--color-form-gray); 
    }

    /* Info d'envoie quand le formulaire est invalide ou a été envoyer */
    .wpcf7 form .wpcf7-response-output {
        margin: 0;
        padding: 0;
        margin-top: -30px;
        width: 100%;
        text-align: center;
        
}
}

/**** KEYFRAME DE LA MODALE ****/

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInRemove {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}