* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/****** GLOBAL ******/

/*
    Couleurs
*/

:root
{
    --color-dark-red: #E00000;
    --color-red: #FE5858;
    --color-light-red: #FFD6D6;
    --color-black: #000000;
    --color-dark-blue:#313144;
    --color-dark-gray: #C4C4C4;
    --color-gray: #D8D8D8;
    --color-light-gray: #E5E5E5;
    --color-white: #FFFFFF;  
}

li {
    text-decoration: none;
    display: inline-block;
}

a {
    text-decoration: none;
}

.actif {
    display: flex;
}



/****** HEADER ******/

.header-container {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 146px;
}

.logo img {
    width: 216px;
    height: 14px;
}

.navigation {
    margin-right: 146px;
}

.navigation a {
    color: var(--color-black); 
    font-weight: 400;
    font-size: 16px;
    text-align: center; 
    text-transform: uppercase;
}

.navigation a:hover,
.navigation a:active {
    font-weight: 700;
}

#menu-menu-principal {
    display: flex;
    gap: 45px;
}


/****** FOOTER *******/

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    border-top: 1px solid #000000;
}

.navigation-footer {
    display: flex;
    justify-content: center;
    gap: 90px;
}

#menu-menu-pied-de-page {
    display: flex;
    gap: 90px;
    flex-direction: row;
}

#menu-menu-pied-de-page a {
    color: var(--color-black); 
    font-weight: 400;
    font-size: 16px;
    text-align: center; 
    text-transform: uppercase;

}

#menu-menu-pied-de-page a:hover,
#menu-menu-pied-de-page a:active {
    font-weight: 700;
}

#footer span {
    color: var(--color-black);
    font-weight: 400;
    font-size: 16px;
    text-align: center; 
    text-transform: uppercase;
}

/****** MOBILE ******/
/***** HEADER MOBILE ******/
@media(max-width: 967px) {
    .header-container {
        height: 75px;
    }  

    .logo {
        margin-left: 60px;
    }

    .navigation {
        margin-right: 60px;
    }
}

@media(max-width: 768px) {
    .header-container {
        height: 72px;
    } 

    .logo {
        margin-left: 40px;
    }

    .navigation {
        margin-right: 40px;
    }

    .logo img {
        width: 138px;
        height: 9px;
    }

    #menu-menu-principal {
        display: none;
    }
}

/****** FOOTER MOBILE ******/
@media(max-width: 768px) {
    #footer {
        height: 207px;
    }

    .navigation-footer {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    #menu-menu-pied-de-page {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    #menu-menu-pied-de-page li {
        text-align: center;
    }
}